<style type="text/css">
  
  body {
    
    background-image:  none;
  }

</style>

<div class="main-item">
  <div class="identity"><%= session[:email] %></div>
   <div class="logout"><%= link_to("Logout", :action => 'logout') %></div>
  
  <ul class="items">
    <li><h2>Softpobox</h2></li>
    <h3>
    <li><img src="/images/billing.png" width="30" height="30"/> <%= link_to(' Billing', :action => 'bill') %></li>
    <li><img src="/images/bank.png" width="30" height="30"/><%= link_to(' Bank', :action => 'bank') %></li>
    <li><img src="/images/junk.png"/ width="30" height="30"/><%= link_to(' Junk', :action => 'junk') %></li>
    <li> <img src="/images/signature.jpg"/ width="30" height="30"/><%= link_to(' Signature', :action => 'signature') %></li>
    <li><img src="/images/others.jpeg"/ width="30" height="30"/><%= link_to(' Others', :action => 'others') %></li></h3>
  </ul>
</div>



<div class="bill-item">
    <h2> Billing Papers</h2>


<table class="bill">
    <tr class="yellow">
      <td>Name</td>
       <td>Kind</td>
      <td>Date</td>
      <td>Want delivery?</td>
    </tr>
    <% @billing_papers.each do |bill|  %> 
    <tr class="<%= cycle('odd', 'even') %> ">
      <td><%= link_to(bill.name, "http://localhost:3000/pages/bill_paper" ) %></td>
      <td><%=bill.kind %></td>
      <td><%=bill.date %></td>
      <td>
        <input class="checkbox" type="checkbox" name="" value="true" width="30" height="30" >
      </td>
      <td class="actions">
<%= link_to('Delete',{:action => 'delete', :id => bill.id}, :class => 'action delete') %>
      </td>
</tr>
      
  <% end %>
    
      

    
    
    
    
    
    

    
    
    
    
  </table>
  
  
    
  </div>
  
