<div class="main-item">
  <div class="identity"><%= session[:email] %></div>
   <div class="logout"><%= link_to("Logout", :action => 'logout') %></div>
  
  <ul class="items">
    <li><h2>Softpobox</h2></li>
    <h3>
    <li><img src="/images/billing.png" width="30" height="30"/> <%= link_to(' Billing', :action => 'bill') %></li>
    <li><img src="/images/bank.jpeg" width="30" height="30"/><%= link_to(' Bank', :action => 'bank') %></li>
    <li><img src="/images/junk.jpeg"/ width="30" height="30"/><%= link_to(' Junk', :action => 'junk') %></li>
    <li> <img src="/images/signature.jpg"/ width="30" height="30"/><%= link_to(' Signature', :action => 'signature') %></li>
    <li><img src="/images/others.jpeg"/ width="30" height="30"/><%= link_to(' Others', :action => 'others') %></li></h3>
  </ul>
</div>










<div class="bill-item">
    <h2> Other Papers</h2>
    
  <table class="bill">
    <tr class="yellow">
      <td>Name</td>
       <td>Kind</td>
      <td>Date</td>
    </tr>
    
    <tr>
      <td></td>
      <td></td>
      <td></td>
      </tr>
    
      
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    
    
    
    <tr>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    
    
    
    
    <tr>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    
    
    <tr>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    
    
    <tr>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    
    <tr>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    
    <tr>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    
    
    
    
    
  </table>
  
  
    
  </div>
  